@font-face {
	font-family: "Inter";
	src: url("../fonts/Inter-Regular.otf") format("opentype");
	font-weight: 400;
}

@font-face {
	font-family: "ReadexPro";
	src: url("../fonts/ReadexPro-Regular.ttf") format("opentype");
	font-weight: 400;
	font-style: normal;
}
