:root {
	/* font-family */
	--font-family: "Inter", sans-serif;
	--second-family: "ReadexPro", sans-serif;

	/* colors */
	--main-color: #000;
	--accent-color: #000000b9;

	/* transitions */
	--transition-time: 0.2s;
}
