.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 30px 73px;
}

.header__actions {
	display: flex;
	gap: 20px;
}

.search {
	position: relative;
}

.search summary {
	list-style: none;
}

.search summary::-webkit-details-marker {
	display: none;
}

.search summary::after {
	content: none;
}

.search__modal {
	position: absolute;
	right: 35px;
	top: -12px;
	width: 250px;
	padding: 8px;
	background: white;
	border-radius: 8px;
	box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}

.search__input {
	width: 100%;
	padding: 7px;
	box-sizing: border-box;
}
