.menu__list {
	display: flex;
	justify-content: space-between;
	font-family: var(--font-family), sans-serif;
	gap: 34px;
	text-transform: uppercase;
}

.menu__link {
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	text-transform: uppercase;
	color: var(--main-color);
	transition: color var(--transition-time);
}

@media (any-hover: hover) {
	.menu__link:hover {
		color: var(--accent-color);
	}
}

details {
	gap: 10px;
	position: relative;
}

details ul {
	position: absolute;
	top: 100%;
	left: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 10px;
}

details summary {
	cursor: pointer;
	list-style: none;
}

details summary::-webkit-details-marker {
	display: none;
}

details summary::after {
	content: "";
	display: inline-block;
	width: 12px;
	height: 8px;
	margin-left: 6px;
	background: url("./icons/arrow.svg") no-repeat;
	transition: transform 0.2s;
}

details[open] summary::after {
	transform: rotate(180deg);
}
